---
import ServiceCard from './ServiceCard.astro'

const servicesUI = [
    'Diseño de sitios web innovadores',
    'Diseño de aplicaciones móviles intuitivas',
    'Diseño de interfaces de usuario (UI/UX) personalizadas',
    'Diseño de dashboards interactivos',
]

const servicesDev = [
    'Desarrollo de sitios web optimizados',
    'Creación de páginas de aterrizaje efectivas',
    'Desarrollo de aplicaciones móviles robustas',
    'Mantenimiento y soporte técnico continuo',
]

const servicesDesign = [
    'Creación de banners y gráficos para sitios web',
    'Diseño de anuncios digitales llamativos',
    'Diseño creativo para redes sociales',
    'Diseño de empaques de productos que destacan',
]
---

<div class="grid md:grid-cols-3 gap-10 mt-10">
    <ServiceCard
        title="Diseño UI/UX"
        description="Crear experiencias digitales memorables y centradas en el usuario que generan impacto."
        services={servicesUI}
    />
    <ServiceCard
        title="Desarrollo Web"
        description="Desarrollar y mantener sitios web y aplicaciones web de alta calidad que funcionan a la perfección."
        services={servicesDev}
    />
    <ServiceCard
        title="Diseño Gráfico"
        description="Diseñar materiales de marketing visualmente atractivos y eficaces que resalten tu marca."
        services={servicesDesign}
    />
</div>
