@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-7xl md:text-8xl;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.02em;
    }

    h2 {
        @apply text-5xl md:text-7xl;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.02em;
    }

    body {
        letter-spacing: -0.02em;
    }
}

.noise {
    background-image: url('../assets/noise.svg');
    background-repeat: repeat;
    background-size: 300px 300px;

    mix-blend-mode: multiply;
}

.display-none {
    @apply hidden;
}

.content-work {
    @apply dark:text-slate-300 text-slate-800;
}

.content-work p {
    margin-bottom: 25px;
    line-height: 2rem;
    margin-top: 20px;
}

.content-work h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-work ul {
    padding-left: 40px;
    margin-bottom: 15px;
    line-height: 2rem;
}

.content-work ul li {
    margin-bottom: 20px;
    position: relative;
}

.content-work ul li::before {
    content: '•';
    position: absolute;
    left: -20px;
    @apply text-primary;
}

.content-work img {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}
