@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-8xl;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.05em;
    }
    h2 {
        @apply text-7xl;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.05em;
    }

    body {
        letter-spacing: -0.04em;
        @apply text-slate-800;
        @apply text-xl;
    }
}
