---
import CtaTexto from './CtaTexto.astro'
---

<div
    class="flex group overflow-hidden space-x-5 hover:bg-slate-100 transition-all py-5 hover:text-slate-800 border-t border-b border-opacity-20"
>
    <a
        class="flex space-x-5 animate-loop-scroll items-center group"
        href="/contact"
    >
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
    </a>
    <a
        class="flex space-x-5 animate-loop-scroll items-center group"
        href="/contact"
        area-hidden="true"
    >
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
        <CtaTexto />
    </a>
</div>
