---
import { Icon } from 'astro-icon/components'
---

<div class="text-5xl md:text-7xl font-light whitespace-nowrap">
    ¡Conversemos!
</div>
<div
    class="border flex items-center rounded-3xl p-3 group-hover:bg-primary group-hover:text-slate-200 transition-all"
>
    <Icon name="solar:arrow-right-up-broken" class="text-6xl" />
</div>
