---
import { db, Users } from 'astro:db'
import { z } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'
import { Form } from '@components/Form'

if (Astro.request.method === 'POST') {
    const formSchema = z.object({
        name: z.string(),
        email: z.string().email(),
        message: z.string(),
        company: z.string(),
    })

    const formData = await Astro.request.formData()

    const name = formData.get('name')
    const email = formData.get('email')
    const message = formData.get('message')
    const company = formData.get('company')

    const contactFormData = {
        name,
        email,
        message,
        company,
    }

    const validateData = formSchema.safeParse(contactFormData)

    if (validateData.success) {
        // await db.insert(Users).values(validateData.data)
        console.log('success')
    }
}
---

<Layout title="Contacto" description="test">
    <Section>
        <div class="md:max-w-screen-md mx-auto md:text-center">
            <h1 class="mb-8">
                <span class="text-primary">¡Dí Hola!</span>
                y cuéntame sobre tu idea
            </h1>
            <p class="text-2xl">
                ¿Tienes un proyecto interesante? Ponte en contacto y charlemos.
            </p>
        </div>
    </Section>
    <div class="container md:max-w-screen-md mx-auto mb-12 px-5">
        <Form client:load />
    </div>
</Layout>
