---
import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'
import Button from '@components/ui/Button.astro'
import Link from '@components/ui/Link.astro'

import ButtonLine from '@components/ui/ButtonLine.astro'
import WorkCard from '@components/ui/WorkCard.astro'
import CtaHorizontalScroll from '@components/cta-horizontal/CtaHorizontalScroll.astro'
import Services from '@components/Services/Services.astro'

const allWorks = await getCollection('works')
---

<Layout
    title="Carlos Mancilla | UI & UX Designer | Web Developer"
    description="Learn how to build web apps with Astro."
>
    <main>
        <Section>
            <div class="mb-4 font-regular md:flex items-center gap-4">
                <span class="text-2xl">¡Hola! Soy Carlos.</span>
                <a
                    href="/contacto"
                    class="group border rounded-lg py-0.5 px-3 text-[18px] bg-slate-400 dark:bg-slate-100 dark:bg-opacity-10 bg-opacity-10 border-opacity-10 border-slate-400 hover:scale-105 transition hover:bg-opacity-20 flex mt-3 md:mt-0"
                >
                    <div class="flex items-center gap-2 relative">
                        <span class="relative flex h-3 w-3">
                            <span
                                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
                            ></span>
                            <span
                                class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
                            ></span>
                        </span>

                        <div class="flex flex-col overflow-hidden h-7">
                            <span
                                class="group-hover:-translate-y-7 transition-all"
                                >Disponible para trabajar</span
                            >
                            <span
                                class="group-hover:-translate-y-7 transition-all"
                                >Hablemos</span
                            >
                        </div>
                    </div>
                </a>
            </div>
            <h1 class="relative">
                Diseñando experiencias digitales con énfasis en el <span
                    class="text-primary">diseño visual</span
                >
            </h1>

            <div class="md:flex items-center justify-between mt-16">
                <Button href="/contacto">Hablemos</Button>
                <p class="text-2xl max-w-xl mt-10 md:mt-0">
                    Un diseñador UI/UX multidisciplinario que utiliza el poder
                    del diseño para lograr objetivos en línea.
                </p>
            </div>
        </Section>
        <Section>
            <div class="md:flex gap-10">
                <div
                    class="md:w-1/3 overflow-hidden dark:bg-slate-900 bg-slate-200 rounded-2xl"
                >
                </div>
                <div class="md:w-2/3 flex flex-col gap-9 items-start py-7">
                    <div class="flex flex-col gap-4">
                        <h2>Diseño que genera compromiso e inspira acción</h2>
                        <p class="mt-5">
                            Concéntrate en tu objetivo principal, que es
                            expandir tu negocio. Yo me encargaré de que tu
                            presencia digital sea intuitiva, atractiva y
                            eficiente, destacándote de la competencia.
                        </p>
                    </div>
                    <Link href="/sobre-mi">Sobre mí</Link>
                </div>
            </div>
        </Section>
        <Section
            class="bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.2),rgba(255,255,255,0.9))] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.1),rgba(255,255,255,0))] border-t border-slate-200 dark:border-slate-900"
        >
            <div class="text-center max-w-screen-md m-auto">
                <h2>Servicios para impulsar el crecimiento de tu negocio</h2>
            </div>
            <Services />
        </Section>

        <Section>
            <h2>Descubre mis últimos proyectos</h2>

            <div class="grid md:grid-cols-2 gap-10 mt-10">
                {
                    allWorks
                        .filter((_, i) => i < 4)
                        .map((work) => {
                            return (
                                <WorkCard
                                    title={work.data.title}
                                    url={`works/${work.slug}`}
                                    image={work.data.image}
                                    category={work.data.category}
                                />
                            )
                        })
                }
            </div>
            <div
                class="text-center flex items-center w-full mx-auto justify-center mt-16"
            >
                <Link href="/works">Ver todos los proyectos</Link>
            </div>
        </Section>
        <CtaHorizontalScroll />
        <!-- <Section>
            <div class="md:flex justify-between items-end max-w-">
                <h2 class="md:max-w-screen-md mb-5 md:mb-0">
                    Sometimes, I also write and share some insights
                </h2>
                <ButtonLine href="/blog">View All Insights</ButtonLine>
            </div>
        </Section> -->
    </main>
</Layout>
