---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Experiencia from "@components/Experiencia.astro";
---

<Layout
  seo={{
    title: "Carlos Mancilla | Diseñador UI/UX y Desarrollador Web",
    description:
      "Más de 10 años de experiencia, he destacado en el diseño de interfaces de usuario, sitios web y aplicaciones móviles, así como en su desarrollo.",
  }}
>
  <main>
    <Hero />
    <Experiencia />
  </main>
</Layout>
