---
export interface Props {
    href: string
    class?: string
}

const { href, class: className } = Astro.props
---

<a
    href={href}
    class=`${className} border border-slate-800 px-7 py-3 rounded-full font-bold text-slate-800 hover:opacity-70 transition inline-block`
>
    <slot />
</a>
