---
import Section from "./Section.astro";
import Button from "./ui/Button.astro";

---
<footer class="bg-slate-200 dark:bg-gray-950">
    <Section>
        <div class="text-center justify-center items-center flex flex-col">
            <h2 class="md:max-w-screen-lg mb-8">Want to create something <span class="text-primary">awesome?</span></h2>
            <Button href="/contact">Let's Talk</Button>
        </div>
    </Section>
</footer>