---
import Section from './Section.astro'
import Button from './ui/Button.astro'
import { Icon } from 'astro-icon/components'

const pathname = Astro.url.pathname
---

<footer>
    <Section
        id="letsTalk"
        class=`border-b border-slate-600 dark:border-slate-800 bg-slate-100 dark:bg-slate-900 ${pathname === '/contact' ? 'hidden' : ''} `
    >
        <div class="text-center justify-center items-center flex flex-col">
            <h2
                class="md:max-w-screen-lg mb-8 text-slate-800 dark:text-slate-200"
            >
                Want to create something <span class="text-primary"
                    >awesome?</span>
            </h2>
            <Button href="/contact">Let's Talk</Button>
        </div>
    </Section>
    <div class="bg-gray-950">
        <div class="container mx-auto py-5 pt-28 pb-14 max-w-8xl">
            <div class="flex justify-between">
                <div>
                    <div class="text-slate-200 font-semibold text-3xl">
                        Carlos Mancilla
                    </div>
                    <div class="text-slate-200 font-light opacity-70">
                        UI & UX Designer | Web Developer
                    </div>
                </div>
                <ul class="flex gap-4">
                    <li>
                        <a
                            href="https://www.linkedin.com/in/carlos-mancilla/"
                            target="_blank"
                            title="Linkedin"
                            rel="noreferrer"
                            aria-label="Linkedin"
                            class="bg-slate-900 p-3 rounded-full w-16 h-16 flex items-center justify-center text-white text-xl hover:scale-95 transition-all hover:bg-slate-800"
                        >
                            <Icon name="fa-brands:linkedin" />
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/carlosmmancilla_/"
                            target="_blank"
                            title="Instagram"
                            rel="noreferrer"
                            aria-label="Instagram"
                            class="bg-slate-900 p-3 rounded-full w-16 h-16 flex items-center justify-center text-white text-xl hover:scale-95 transition-all hover:bg-slate-800"
                        >
                            <Icon name="fa-brands:instagram" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="h-[1px] bg-slate-200 my-4 opacity-30"></div>
            <p class="text-slate-200 text-2xl">
                A Visual Designer and Developer living in Bogotá
            </p>
            <div
                class="text-base mt-10 text-slate-200 opacity-50 font-light text-center"
            >
                ©{new Date().getFullYear()}. Designed by <a
                    href="/"
                    class="font-medium">Carlos Mancilla</a>
            </div>
        </div>
    </div>
</footer>
