---
import { Icon } from 'astro-icon/components'
---

<div
    class="border flex items-center border-slate-800 dark:border-slate-200 rounded-full"
>
    <button
        id="moon"
        class="px-5 py-3 flex items-center gap-2 min-w-[116px] justify-center"
    >
        <Icon name="solar:moon-broken" />
        <span class="text-[16px]">Dark</span>
    </button>
    <button id="sun" class="px-7 py-3 flex items-center gap-2 min-w-[116px]">
        <Icon name="solar:sun-broken" />
        <span class="text-[16px]">Light</span>
    </button>
</div>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const moon = document.getElementById('moon')
        const sun = document.getElementById('sun')

        const userTheme = localStorage.getItem('theme')
        const systemTheme = window.matchMedia(
            '(prefers-color-scheme: dark)'
        ).matches

        const iconToggle = () => {
            moon.classList.toggle('hidden')
            sun.classList.toggle('hidden')
        }

        const themeCheck = () => {
            if (userTheme === 'dark' || (!userTheme && systemTheme)) {
                document.documentElement.classList.add('dark')
                moon.classList.add('hidden')
                return
            }
            sun.classList.add('hidden')
        }

        const themeSwitch = () => {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark')
                localStorage.setItem('theme', 'light')
                iconToggle()
                return
            }
            document.documentElement.classList.add('dark')
            localStorage.setItem('theme', 'dark')
            iconToggle()
        }

        sun.addEventListener('click', themeSwitch)
        moon.addEventListener('click', themeSwitch)

        themeCheck()
    })
</script>
