---
import "@assets/styles/tailwind.css";
import Header from "@components/Header.astro";
import { SEO, type Props as SEOProps } from "astro-seo";
import "@fontsource-variable/raleway";

interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seo} />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
