---
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import '../styles/styles.css'

//Components
import Header from '@components/Header.astro'

//Fonts
import '@fontsource-variable/inter-tight'

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: '/logo.png',
                },
            }}
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body class="bg-white">
        <Header />
        <slot />
    </body>
</html>
