---
const { href, class: className } = Astro.props
import { Icon } from 'astro-icon/components'
---

<a
    href={href}
    class=`text-slate-900 dark:text-slate-100 font-semibold flex gap-2 items-center hover:opacity-70 transition-all hover:gap-3 ${className}`
>
    <slot />
    <Icon name="solar:arrow-right-broken" width={24} />
</a>
